<div class="container">  

  <div  class="card-body">
>

    <h2> Welcome to the selection session </h2>
    <p> Select your csv documents </p>
    <input type="file" class="btn btn-outline-secondary"
    accept="csv,file"></button>
    <br>
    <p> Submit the csv file </p>
    <button type="button" class="btn btn-outline-success">Submit</button>
    
 


  </div>  
</div>
